<h1>Title: The Nightingale</h1>
<h2>Kristin Hannah</h2>
<h3>The Nightingale (2015) is a novel by the American author Kristin Hannah.
    The book tells the story of two sisters in France during World War II, and
    their struggle to survive and resist the German occupation of France.
    It was inspired by the story of a Belgian woman, Andrée de Jongh, who helped downed
    Allied pilots to escape Nazi territory.[1][2] To date, Nightingale has sold over 2
    million copies and was published in 43 languages.[3] As well, the novel earned places
    on several bestseller lists, and was optioned for a screen adaptation by TriStar Pictures
    in March 2015, with Michelle MacLaren signed on to direct the film.[3]
    (Wikipedia)
</h3>